@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
    display: grid;
    font-family: Roboto, sans-serif;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.info-block {
    border: solid 1px;
    margin-left: 1em;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.tools-block {
    border: solid 1px;
    margin-right: 1em;
    grid-column: 3;
    grid-row: 1 / 3;
}

.fortnights-block {
    border: solid 1px;
    margin-left: 1em;
    grid-column: 1 / 3;
    grid-row: 3 / 15;
}

.characters-block {
    border: solid 1px;
    margin-right: 1em;
    grid-column: 3;
    grid-row: 3 / 15;
    overflow: hidden;
}

.footer-block {
    margin-left: 1em;
    margin-right: 1em;
    grid-row: 15;
    grid-column: 1/4;
}